.box {
  display: flex;
  flex-wrap: wrap;
  align-content: center; 
  justify-content: center;
  
  max-width: 400px;
  min-height: 400px;
	margin: 0 auto;
  border: 20px solid black;
  background-color: grey;
  border-radius: 5%;

}
